{% extends 'base.html' %}

{% block head %}
<main>
    <section class="intro">
        <h2 class="section-title">Inteligentne narzędzie do automatycznej alokacji kosztów</h2>
    </section>
    <section class="about-us">
        <header class="about-us__intro">
            <h3 class="section-title-small">
                Zaprojektowane przez praktyków
            </h3>
        </header>
        <div class="about-us__body">
            Narzędzie Allocate zostało zaprojektowane przez praktyków
            zajmujących się analizą i controllingiem. Dzięki blBLblB
            bla bal balb abla balbalbal la labalba
        </div>
    </section>
    <section class="create-account">
        <header class="create-account__intro">
            <h3 class="section-title">Załóż darmowe konto dla swojej firmy</h3>
        </header>
        <div class="create-account__body">
            <a href="{{ url_for('users.register') }}" class="btn btn__primary">Załóż konto</a>
        </div>
    </section>
    <section class="product-showcase">
        <header class="product-showcase__intro">
            <h3 class="section-title">Podstawowe funkcjonalności</h3>
        </header>
        <div class="functions product-showcase__body">
            <div class="function">
                <h4 class="function-title">Dekretacja</h4>
                <img src="">
                <div class="function-content">
                    <p>salapslaplpadla</p>
                </div>
            </div>
            <div class="function">
                <h4 class="function-title">Dekretacja</h4>
                <img src="">
                <div class="function-content">
                    <p>salapslaplpadla</p>
                </div>
            </div>
            <div class="function">
                <h4 class="function-title">Dekretacja</h4>
                <img src="">
                <div class="function-content">
                    <p>salapslaplpadla</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}