{% extends 'base.html' %}

{% block head %}
<div class="container">
    <section class="jumbotron">
        <div class="p-5 mb-4 bg-light rounded-3">
              <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Dołącz do stampera</h1>
                <p class="col-md-8 fs-4">Załóż konto w serwisie stamper, aby ułtawić sobie oraz zespołowi
                dekretację kosztów w obrębie firmy. Nadaj wirtualną pieczątkę każdej fakturze</p>
                  <a href="{{url_for('users.register')}}"><button class="btn btn-green btn-lg" type="button">Załóż konto</button></a>
              </div>
        </div>
    </section>
    <section class="content">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Dekretacja kosztów w kilku prostych krokach</h1>
                <p class="col-md-8 fs-4">1. Wczytaj pieczątki na podstawie planu kont
                <br>
                2. Importuj faktury do systemu
                <br>
                3. Nałóż masowo lub indywidualnie konkretne pieczątki
                <br>
                4. Wygeneruj dokumenty z pieczątkami</p>
            </div>
        </div>
    </section>
    <div class="push"></div>
</div>
{% endblock %}