{% extends 'base.html' %}

{% block head %}

<main>
    <section class="register-choice-section">
        <header class="product-showcase__intro">
            <h2>Zarejestruj się!</h2>
        </header>
        <div class="functions product-showcase__body">
            <div class="function">
                <h5 class="function-title">Zarejestruj firmę</h5>
                <img src="">
                <div class="function-content">
                    <p>Załóż konto dla firmy</p>
                    <a href="{{url_for('users.register_company')}}"><button class="btn btn__primary">Zarejestruj firmę</button></a>
                </div>
            </div>
            <div class="function">
                <h5 class="function-title">Zarejestruj użytkownika</h5>
                <img src="">
                <div class="function-content">
                    <p>Twoja firma ma już konto? Zarejestruj się w serwisie i dołącz do organizacji</p>
                    <a href="{{url_for('users.register_user')}}"><button class="btn btn__primary">Zarejestruj użytkownika</button></a>
                </div>
            </div>
        </div>

    </section>
</main>

<script src="{{url_for('static', filename='js/register.js')}}"></script>
{% endblock %}