{% extends 'sidebar.html' %}

{% block head %}


    <div class="main-wrapper">
        <div class="container">
            <section class="user-stamps">
                <div class="user-stamps-header">
                    <div class="row">
                        <div class="col">
                            TWOJE PIECZĄTKI
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="szukaj pieczątki">
                        </div>
                    </div>
                </div>
                <div class="user-stamps-body">
                    {% if stamps: %}
                    <div class="bdr">
                        <table class="table table-light table-hover">
                            <thead>
                                <tr class="table-dark">
                                    <th>Treść pieczątki</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stamp in stamps %}
                                    <tr>
                                        <td>{{stamp.text}}</td>
                                        <td><a href="/stamps/delete/{{stamp.id}}"><i class="far fa-trash-alt"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <h2>Stwórz swoją pierwszą pieczątkę!</h2>
                    {% endif %}
                </div>
                <div class="stamps-form">
                    <form class="row g-3" method="POST" action="/stamps/add">
                        <div class="col-10">
                            <input class="form-control" type="text" placeholder="Dodaj treść pieczątki" name="stamp_text" id="stamp_text">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-dark mb-3">Prześlij</button>
                        </div>
                    </form>
                </div>
            </section>
            <div class="push"></div>
        </div>

    </div>





<script src="{{url_for('static', filename='js/stamps.js')}}"></script>

{% endblock %}