{% extends 'base.html' %}

{% block head %}

<main>
    <section class="stamps-form">

                    <form method="POST" action="/stamps/add">
                        <div>
                            <input class="form-control" type="text" placeholder="Dodaj treść pieczątki" name="stamp_text" id="stamp_text">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-dark">Prześlij</button>
                        </div>
                    </form>
    </section>
    <section class="user-stamps-header">
        <div><h1>Twoje pieczątki</h1></div>
        <div><input type="text" class="form-control" placeholder="szukaj pieczątki"></div>
        <div><a href="{{ url_for('stamps.import_stamps') }}" class="btn btn__primary">Importuj pieczątki z pliku</a></div>
    </section>
    <section class="user-stamps-body">
                    {% if stamps: %}
                    <div class="bdr">
                        <table class="table table-light table-hover">
                            <thead>
                                <tr class="table-dark">
                                    <th>Treść pieczątki</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stamp in stamps %}
                                    <tr>
                                        <td>{{stamp.text}}</td>
                                        <td><a href="/stamps/delete/{{stamp.id}}"><i class="far fa-trash-alt"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        <h2>Stwórz swoją pierwszą pieczątkę!</h2>
                    {% endif %}
    </section>
</main>

<script src="{{url_for('static', filename='js/stamps.js')}}"></script>

{% endblock %}