{% extends 'base.html' %}

{% block head %}

<div class="container">
    <section>
        <div class="profile-info-container">
            <div class="row">
                <div class="col">
                    <div class="profile-picture-container">
                        <img class='profile-picture' src="{{ url_for('static', filename='avatars/'+current_user.avatar_filename) }}" width="200px">
                    </div>
                </div>
                <div class="col-8 align-self-end">
                    <span class="user-email">{{current_user.email}}</span>
                </div>
            </div>
            <div>
                <div class="user-profile-data">
                    <form method="POST" action="/user/profile" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                      <fieldset class="form-group">
                          <div class="form-group mb-4">
                              {{ form.fullname.label(class="form-control-label") }}
                              {% if form.fullname.errors %}
                                {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.fullname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form.fullname(class="form-control form-control-lg", placeholder="Imię i nazwisko") }}
                              {% endif %}
                          </div>
                          <div class="form-group mb-4">
                              {{ form.occupancy.label(class="form-control-label") }}
                              {% if form.occupancy.errors %}
                                {{ form.occupancy(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.occupancy.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form.occupancy(class="form-control form-control-lg", placeholder="Stanowisko") }}
                              {% endif %}
                          </div>
                          <div class="form-group mb-4">
                              {{ form.phone_number.label(class="form-control-label") }}
                              {% if form.phone_number.errors %}
                                {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.phone_number.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form.phone_number(class="form-control form-control-lg", placeholder="Numer telefonu") }}
                              {% endif %}
                          </div>
                          <div class="form-group mb-4">
                              {{ form.picture.label(class="form-control-label") }}
                              {% if form.picture.errors %}
                                {{ form.picture(class="form-control-file form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.picture.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form.picture(class="form-control form-control-lg", placeholder="Zdjęcie") }}
                              {% endif %}
                          </div>
                      </fieldset>
                        <div class="form-group mb-4">
                            <button type='submit' class="btn btn-blue form-control">Zapisz zmiany</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section>

</div>
<div class="push"></div>
{% endblock %}