
/* General */

:root {
    --clr-text: black;
    --clr-primary: #212529;
    --clr-green: #326647;
    --clr-red: #990033;
    --clr-blue: #333366;
    --clr-background: #c5c5c5;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h2,
h3 {
    line-height: 0.8;
}

h2 {
    font-size: 4rem;
}

p {
    margin-bottom: 0.85rem;
}

p:last-child {
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    border: none;
}

html {
    box-sizing: border-box;

}

body {
    margin: 0;
    text-align: center;
}

section {
    padding: 3em 1em;

}

section:first-of-type {
    margin-top: 3rem;

}

/* Homepage */

.intro {
    padding: 30vh 1em;
    background-image: url(../imgs/hero.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    color: var(--clr-blue);

}

h2.section-title {
    width: 70%;
    margin: auto;
    padding: 0.8em !important;
    line-height: 1.1em;
}

.intro h2 {
    background-color: rgba(255,255,255,0.9);
    padding: 5vh 0;
    border-radius: 0.25em;
}

.about-us {
    background: var(--clr-primary);
    display: flex;
    flex-direction: column;
    color: white;
}

.about-us__intro, .create-account__intro,
 .product-showcase__intro {
    padding: 3em 1em 1.5em;
}

.about-us__body, .create-account__body,
 .product-showcase__body {
    padding: 1.5em 1em 3em;
}

.section-title-small {

}

.btn {
    padding: .75em 2.5em;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: .5em 0;
    border-radius: 0.25em;
}


.btn__primary {
    background-color: var(--clr-green);
}

.btn__blue {
    background-color: var(--clr-blue);
}

.functions {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;
    padding-top: 2em;
    justify-content: space-evenly;

}

.function {
    padding: 1em;
    border-radius: 0.35em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
}

.function-content {
    padding: 1.5em;
}

.function-title {
    color: var(--clr-blue);
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.function:last-of-type {
    margin-bottom: 2em;
}

@media only screen and (min-width: 750px) {
    section {
        padding: 6em 1em;

    }

    .about-us {
        flex-direction: row;
    }

    .about-us__intro,
    .about-us__body {
        flex: 0 1 50%;
        padding: 4em 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3em 1em;
    }

    .about-us__intro {
        text-align: right;
    }

    .about-us__intro > * {
        max-width: 25rem;
        margin-left: auto;
    }

    .about-us__body {
        text-align: left;
    }

    .about-us__intro > * {
        max-width: 25rem;
        margin-right: auto;
    }

    .functions {
        flex-direction: row;
         max-width: 1200px;
         padding: 2em 5em;
         justify-content: space-evenly;
    }

    .function {
        margin: 0;
        flex: 0 1 33%;

    }

    .function + .function {
        margin-left: 1em;
    }
}

/* Login form */

.login-content-form {
    padding: 0 20em;
}

.login-content-form form {
    max-width: 800px;
    margin: auto;
}

.profile-picture {
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}
/* Invoices form */

.thumbnail {
    display:none;
    position:absolute;
    z-index:1;
    transform: translate(100px, -300px);
    border: 2px solid;
}

.filter-table {
    margin: 5px 0px;
}

table {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bdr {border-radius: 6px;overflow:hidden;}

.fa-trash-alt{
    color: var(--clr-red);
}

.fa-edit {
    color: var(--clr-blue);
}

.section-invoice {
    padding: 0em 5em;
}

.stamp-choice {
    padding-top: 6em;
}

.action-buttons {
    display: flex;
    justify-content: flex-star;
    flex-direction: column;
    gap: 1em;
}

@media only screen and (min-width: 750px) {
    .action-buttons {
        flex-direction: row;
    }

}

@media screen and (max-width: 750px) {
    table thead {
        display: none;
    }

    table td {
        display: flex;
    }

    table td::before {
        content: attr(label);
        font-weight: bold;
        width: 80px;
        min-width: 80px;
    }
}

#batch-add {
    margin: 0;
}

.invoice-table {
    margin-bottom: 5em;
}

.invoice-table tbody {
    font-size: 0.8rem;
}

td {
    padding: 0.5rem 1.5rem !important;
}

/* STAMPS */

.stamps-form {
    padding-left: 5em;
    padding-right: 5em;
}

.stamps-form form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stamps-form form > div:first-of-type {
    flex-grow: 2;
}

.user-stamps-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0 5em;
}

.user-stamps-header > div:nth-of-type(2) {
    flex-grow: 2;
}

.user-stamps-body {
    padding: 0em 5em;
    margin-bottom: 5em;
}

@media only screen and (min-width: 750px) {
    .stamps-form form {
        flex-direction: row;
    }

    .user-stamps-header {
        flex-direction: row;
    }
}

/* Profile view */

.user-profile-data {
    padding: 0 5em;
}

.profile-info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-direction: column;
}

.user-email {
    font-size: 1.2em;
    font-weight: bold;
}

@media only screen and (min-width: 750px) {
    .user-profile-data {
        padding: 0 15em;
    }

    .profile-info-header{
        flex-direction: row;
    }
}

.company-user-list {
    padding: 5em 5em;
}

/* Invoice view */

.main-invoice-view {
    display: flex;
    padding-left: 5em;
    padding-right: 5em;
    gap: 2em;
}

.invoice-view-header {
    background-color: var(--clr-primary);
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 2.5em;
    display: flex;
}

.invoice-view-header p {
    margin: auto;
}

.invoice-view-header p span {
    font-weight: bold;
}

.invoice-view-picture {
    border: 1px solid black;
    transition: transform .2s;
}

.invoice-view-picture:hover {
    transform: scale(1.5) translate(10%,10%);
}

.invoice-stamps-table form {
    display: flex;
    align-items: center;
}

/* no company */

.no-company {
    margin: auto;
}